<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.minimak</string>
	<key>CFBundleName</key>
	<string>Minimak (4 Key)</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>KLInfo_Minimak (12 Key)</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.minimak.minimak(12 key)</string>
		<key>TISIntendedLanguage</key>
		<string>en-GB</string>
	</dict>
	<key>KLInfo_Minimak (4 Key)</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.minimak.minimak(4 key)</string>
		<key>TISIntendedLanguage</key>
		<string>en-GB</string>
	</dict>
	<key>KLInfo_Minimak (8 Key)</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.minimak.minimak(8 key)</string>
		<key>TISIntendedLanguage</key>
		<string>en-GB</string>
	</dict>
</dict>
</plist>
